<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.georgeci.moneysurfer.receiptlist">

    <application>
        <activity
            android:name=".ReceiptListActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.MoneySurfer.NoActionBar" />
    </application>

</manifest>